
  .thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This ensures the content is centered vertically on the page */
    text-align: center; /* This centers the text within the container */
  }

  /* Optional: Add some styling to the button */
  .thank-you button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #195e0e;
  color: #ffd500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

