<h1>Past Survey Information</h1>

<table>
    <thead>
      <tr>
        <th>Liked Most</th>
        <th>Interest Source</th>
        <th>Recommend Likelihood</th>
        <th>Date Of Survey</th>
        <th>Additional Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let survey of surveys">
        <td>{{ survey.likedMost }}</td>
        <td>{{ survey.interestSource }}</td>
        <td>{{ survey.recommendLikelihood }}</td>
        <td>{{ formatSurveyDate(survey.dos) }}</td>
        <td>{{ survey.additionalComments }}</td>
      </tr>
    </tbody>
  </table>
