<h1>Past survey information</h1>

<table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Street Address</th>
        <th>City</th>
        <th>State</th>
        <th>ZIP</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Liked Most</th>
        <th>Interest Source</th>
        <th>Recommend Likelihood</th>
        <th>Date Of Survey</th>
        <th>Additional Comments</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let survey of surveys">
        <td>{{ survey.firstName }}</td>
        <td>{{ survey.lastName }}</td>
        <td>{{ survey.streetAddress }}</td>
        <td>{{ survey.city }}</td>
        <td>{{ survey.state }}</td>
        <td>{{ survey.zip }}</td>
        <td>{{ survey.phoneNumber }}</td>
        <td>{{ survey.email }}</td>
        <td>{{ survey.likedMost }}</td>
        <td>{{ survey.interestSource }}</td>
        <td>{{ survey.recommendLikelihood }}</td>
        <td>{{ formatSurveyDate(survey.dos) }}</td>
        <td>{{ survey.additionalComments }}</td>
        <td>
        <button (click)="openUpdateForm(survey)">Update</button>
        <button (click)="deleteSurvey(survey.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div *ngIf="showUpdateForm">
    <h2>Update Survey</h2>
    <form (submit)="submitUpdateForm()">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" [(ngModel)]="updatedSurvey.firstName" name="firstName" required>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" [(ngModel)]="updatedSurvey.lastName" name="lastName"required>

        <button type="submit">Submit</button>
    </form>
</div>